 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

.myAlert-bottom{
  position: fixed;
  bottom: 5px;
  left:2%;
  width: 96%;
}

.myAlert-top{
  position: fixed;
  top: 5px; 
  left:2%;
  width: 96%;
}

.scrollList {
    height:100vh;
    width:100%;
    overflow-y: auto;
}

.FAB {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 2em;
  margin-right: 2em;
}

.bttn.active.focus,
.bttn.active:focus,
.bttn.focus,
.bttn:active.focus,
.bttn:active:focus,
.bttn:focus {
   outline-style:none; 
   outline: none !important; 
}

.leftAlignText {
  text-align: left;
}

.centerVerticalLeft {
  display:table;
  margin:auto auto;
  margin-left:0;
}

.centerVertical {
  display:table;
  margin:auto auto;
  margin-right:0;
  margin-left:0;
}
.centerBlock {
  display:table;
  margin:auto;
}

label:hover{
    cursor:pointer;
}

.jumbotron {
    padding: 1em;
    padding-left: 4.75em;
    padding-right: 3.25em;
    margin: auto;
    margin-bottom: 0.2em;
    max-width: 60em;
    /* margin: 0.1em;
    max-width: 60em;
    margin:auto;
    margin-bottom: 0.2em; */
}

.extraPad {
    padding-top: 1.5em;
}
.calendar-icon {
    width: 50px;
    height: 75px;
    position: relative;
    float: center;
  }
  .calendar-icon--single {
    float: right;
    margin-left: 1em;
    margin-right: 1em;
  }
  .calendar-icon--first {
    margin-right: 2px;
  }
  .calendar-icon__day {
    width: 100%;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    font-family: 'abel', sans-serif;
    color: #e84e0e;
    font-size: 28px;
  }
  .calendar-icon__month {
    height: 25px;
    width: 100%;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    background-color: #495057
  }
