img {
    width: 4em;
    height: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.centerVerticalLeft {
  display:table;
  margin:auto auto;
  margin-left:0;
}.centerVertical {
  display:table;
  margin:auto auto;
  margin-right:0;
}
.centerBlock {
  display:table;
  margin:auto;
}

label:hover{
    cursor:pointer;
}

.jumbotron {
    padding: 1em;
    margin: 0.1em;
}

.extraPad {
    padding-top: 1.5em;
}
.calendar-icon {
    width: 50px;
    height: 75px;
    position: relative;
    float: center;
  }
  .calendar-icon--single {
    float: right;
    margin-left: 1em;
    margin-right: 1em;
  }
  .calendar-icon--first {
    margin-right: 2px;
  }
  .calendar-icon__day {
    width: 100%;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    font-family: 'abel', sans-serif;
    color: #e84e0e;
    font-size: 28px;
  }
  .calendar-icon__month {
    height: 25px;
    width: 100%;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    background-color: #505931;
  }